body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../../client/src/img/books.jpg");
  width: 1200px;
  height: 100%;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
}
