.navbar {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 60px;
    font-size: 20px;
    color: white;
    width: 100vw;
    margin-bottom: 30px;
    border-bottom: 5px solid wheat;
}

.nav-link {
    color: wheat !important;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}

.navbar-brand {
    color: wheat !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.ml-auto {
    margin-left: auto !important;
}